body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #007bff;
  }
  
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .card-img-top {
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
  }
  
  button {
    width: 100%;
    text-align: center;
  }